.formPassive {
  display: none;
}

.formActive {
  grid-area: mc;
  position: fixed;
  width: 23.75rem;
  position: fixed;
  margin: 0 auto;
  margin-left: -11.875rem;
  bottom: 39%;
  left: 50%;
  font-size: 1.25rem;
  text-align: center;
  background: #F0F0F0;
  opacity: 0.8;
  border: 2px solid #64E9EB;
  border-radius: 1rem;
  z-index: 50;
  animation-name: formOpen;
  animation-duration: 1s;
}

.inputPass,
.inputName,
.submit {
  width: 18.75rem;
  margin: 0.625rem;
  font-size: 1.6rem;
  background: lightblue;
  border-radius: 1rem;
  border: none;
  outline: none;
  text-align: center;
}

.inputPass:focus,
.inputName:focus {
  background: #92f095;
}

.inputName {
  margin-left: -0.625rem;
}

.formGreeting {
  font-size: 1.8rem;
  color: #64E9EB;
}

.submit {
  color: white;
  background: #64E9EB;
}

.error {
  font-size: 1.6rem;
  color: red;
}

.closeForm {
  width: 1.6rem;
  position: relative;
  top: -5.75rem;
  left: 86.8%;
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  background: #F0F0F0;
  color: #64E9EB;
  border: none;
  border-radius: 1rem;
}

.userGreeting {
  position: relative;
  height: 0;
  padding: 0;
  margin: 0;
  top: -88px;
  left: 91vw;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.userGreeting button {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
  outline: none;
  border: 0;
  background-image: none;
  background: transparent;
}

@keyframes formOpen {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@media screen and (max-width:425px) {
  .formActive {
    width: 18.75rem;
    margin-left: -9.375rem;
    bottom: 33%;
  }
  .inputPass,
  .inputName,
  .inputEmail,
  .submit {
    width: 18.125rem;
    margin-left: 0;
  }
  .closeForm {
    left: 44.8%;
  }
}