.courses {
  grid-area: mc;
  height: 100%;
  position: relative;
  margin: 4rem auto;
  background: #ffffff;
  z-index: 10;
}

.courses div {
  width: 31.25rem;
  left: 12vw;
  margin: 4rem auto;
  padding: 40px;
  font-size: 20px;
  text-align: left;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
}

.courses h2 {
  width: auto;
  margin: 2rem;
  text-align: center;
}

.courses span {
  font-weight: bold;
}

.description {
  background: #e7ddce !important;
}

.description li {
  padding: 1rem;
  list-style: none;
  border-bottom: 2px solid #f0f063;
  border-radius: 0px;
  box-shadow: none;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7 {
  height: 37.5rem;
}

.img1 {
  background: url(./img/1.jpg) no-repeat;
}

.img2 {
  background: url(./img/2.jpg) no-repeat;
}

.img3 {
  background: url(./img/3.jpg) no-repeat;
}

.img4 {
  background: url(./img/4.jpg) no-repeat;
}

.img5 {
  background: url(./img/5.jpg) no-repeat;
}

@media screen and (min-width: 1200px) {
  .courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .courses div {
    margin: 4rem 4rem;
  }
  .description {
    background: transparent;
  }
  .description li {
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
  }
}