
.content {	
	grid-area: mc;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
    object-fit: cover;
	overflow:hidden;
}

.upward {
	width: 50px;
	height: 50px;
	border-radius:25px;
	border:none;
	outline:none;
	position: relative;
	bottom: 60px;
	left: 85%;
	background: #c3c3c3;
	z-index: 100;
	color: #000;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	opacity: .5; 
	transition: all .5s ease;		
}

.upward:hover {
	color: #fff;
	background-color: #555;	
}

.upward:active {
	right: 30px;		
}

.text {
    height: 100%;  		
  }



